.dashboard {
  display: flex;
}
.dashboard-content {
  margin: 0;
  padding: 3% 5%;
  width: 100%;
  overflow-y: scroll;
  height: 80vh;
}

/* @media screen and (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }
} */
